@page "/"
@inject IPostInterface postInterface
<div class="row">
   <div class="col-2">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">My Account</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/CreatePost">New Post</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">My Posts</a>
            </li>
          
        </ul>
   </div>
   <div class="col-6">
        @if (isLoading)
        {
            <button class="btn btn-primary" type="button" disabled>
                <span class="spinner-border spinner-border-sm" aria-hidden="true"></span>
                <span class="visually-hidden" role="status">Loading...</span>
            </button>
            <button class="btn btn-primary" type="button" disabled>
                <span class="spinner-border spinner-border-sm" aria-hidden="true"></span>
                <span role="status">Loading...</span>
            </button>
        }
        else
        {
            <div class="row">
                @foreach (var post in Posts)
                {
                    <div class="card m-2 p-2 shadow-lg" style="width: 16rem; height:350px;">
                        <img src="@post.Body" class="card-img-top" alt="..." style="height:200px;">
                        <div class="card-body">
                            <h5 class="card-title">@post.Title</h5>
                          
                            <p class="card-text">@post.CreatedAt</p>
                            <a href="#" class="btn btn-primary">View Post</a>
                            <a href="#" class="btn btn-primary">Comment</a>
                        </div>
                    </div>
                    
                    
                }
            </div>
           
        }
    </div>
    <div class="col-4">
        <h1>Comments</h1>
    </div>
</div>
@code{
    private List<PostDto> Posts = new List<PostDto>();
    private bool isLoading = true;
    protected override async Task OnInitializedAsync()
    {
        Posts = await postInterface.GetAllPostsAsync();
        isLoading = false;
    }
}