@using Frontend.Models.Posts;
<div class="row">
    <div class="card" style="width: 18rem;">
        <img src="@Post.Body" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">@Post.Title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <p class="card-text">@Post.CreatedAt</p>
            <a href="#" class="btn btn-primary">View Post</a>
        </div>
    </div>
</div>


@code {
    [Parameter]
    public PostDto Post { get; set; }

}
